<h1 mat-dialog-title>Order Details</h1>
<mat-dialog-content>
  <form [formGroup]="editOrderForm" (ngSubmit)="onSubmit()">
    <p class="para">
      {{orderinfo.orderinfo.Name}}
    </p>
    <mat-form-field>
      <mat-label> Name </mat-label>
      <input matInput type="text" placeholder="Name" formControlName="orderName" required />
    </mat-form-field>

    <p class="para">
      {{orderinfo.orderinfo.Date}}
    </p>
    <mat-form-field>
      <mat-label> Date </mat-label>
      <input matInput type="date" placeholder="Date" formControlName="orderDate" required />
    </mat-form-field>

    <p class="para">
    </p>
    <mat-form-field>
      <mat-label> Items </mat-label>
      <input matInput type="text" placeholder="Items" formControlName="orderItems" required />
    </mat-form-field>

    <p class="para">
    </p>
    <mat-form-field>
      <mat-label> Design </mat-label>
      <input matInput type="text" placeholder="Design" formControlName="orderDesign" required />
    </mat-form-field>

    <p class="para">
    </p>
    <mat-form-field>
      <mat-label> Colours </mat-label>
      <input matInput type="text" placeholder="Colours" formControlName="orderColours" required />
    </mat-form-field>

    <p class="para">
    </p>
    <mat-form-field>
      <mat-label> Address </mat-label>
      <input matInput type="text" placeholder="Address" formControlName="orderAddress" required />
    </mat-form-field>

    <p class="para">
    </p>
    <mat-form-field>
      <mat-label> Amount</mat-label>
      <input matInput type="text" class="Amount" placeholder="Amount" formControlName="orderAmount" required />
    </mat-form-field>

    <section class="radiobuttongroup">
      <h2>Ordered From</h2>
      <mat-radio-group formControlName="socials" required>
        <mat-radio-button value="FB" class="radiobutton">FB</mat-radio-button>
        <mat-radio-button value="Instagram" class="radiobutton">Instagram</mat-radio-button>
        <mat-radio-button value="Email" class="radiobutton">Email</mat-radio-button>
      </mat-radio-group>
    </section>

    <section class="radiobuttongroup">
      <h2>Payment Method</h2>
      <mat-radio-group formControlName="payment">
        <mat-radio-button value="Bank_Transfer" class="radiobutton">Bank Transfer
        </mat-radio-button>
        <mat-radio-button value="PayPal" class="radiobutton">PayPal</mat-radio-button>
        <mat-radio-button value="Cash" class="radiobutton">Cash</mat-radio-button>
      </mat-radio-group>
    </section>

    <section class="radiobuttongroup">
      <h2>Delivery Method</h2>
      <mat-radio-group formControlName="deliverymethod">
        <mat-radio-button value="Delivery" class="radiobutton">Delivery</mat-radio-button>
        <mat-radio-button value="Collection" class="radiobutton">
          Collection
        </mat-radio-button>
        <mat-radio-button value="Post" class="radiobutton">Post</mat-radio-button>
      </mat-radio-group>
    </section>
    <div mat-dialog-actions>
      <button mat-button color="warn" matDialogClose (click)="onClose()">Close</button>
      <button mat-button color="primary" [disabled]="!editOrderForm.valid" (click)="onSubmit()">Save</button>
    </div>
  </form>
</mat-dialog-content>
