<div class="board-wrapper" cdkDropListGroup>
  <div class="board-columns">
    <div class="board-column">
      <div class="column-title">
        <div class="column-ordered">
          Ordered
        </div>
      </div>
      <div class="task-area" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="ordered">
        <app-orders [order]="order" *ngFor="let order of ordered">{{order}}</app-orders>
      </div>
    </div>

    <div class="board-column">
      <div class="column-title">
        <div class="column-instock">
          In Stock
        </div>
      </div>
      <div class="task-area" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="instock">
        <app-orders [order]="order" *ngFor="let order of instock">{{order}}</app-orders>
      </div>
    </div>

    <div class="board-column">
      <div class="column-title">
        <div class="column-soaked">
          Soaked
        </div>
      </div>
      <div class="task-area" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="soaked">
        <app-orders [order]="order" *ngFor="let order of soaked">{{order}}</app-orders>
      </div>
    </div>

    <div class="board-column">
      <div class="column-title">
        <div class="column-tied">
          Tied
        </div>
      </div>
      <div class="task-area" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="tied">
        <app-orders [order]="order" *ngFor="let order of tied">{{order}}</app-orders>
      </div>
    </div>

    <div class="board-column">
      <div class="column-title">
        <div class="column-dyed">
          Dyed
        </div>
      </div>
      <div class="task-area" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="dyed">
        <app-orders [order]="order" *ngFor="let order of dyed">{{order}}</app-orders>
      </div>
    </div>

    <div class="board-column">
      <div class="column-title">
        <div class="column-rinsed">
          Rinsed
        </div>
      </div>
      <div class="task-area" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="rinsed">
        <app-orders [order]="order" *ngFor="let order of rinsed">{{order}}</app-orders>
      </div>
    </div>

    <div class="board-column">
      <div class="column-title">
        <div class="column-washed">
          Washed
        </div>
      </div>
      <div class="task-area" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="washed">
        <app-orders [order]="order" *ngFor="let order of washed">{{order}}</app-orders>
      </div>
    </div>

    <div class="board-column">
      <div class="column-title">
        <div class="column-dried">
          Dried
        </div>
      </div>
      <div class="task-area" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="dried">
        <app-orders [order]="order" *ngFor="let order of dried">{{order}}</app-orders>
      </div>
    </div>

    <div class="board-column">
      <div class="column-title">
        <div class="column-ironed">
          Ironed
        </div>
      </div>
      <div class="task-area" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="ironed">
        <app-orders [order]="order" *ngFor="let order of ironed">{{order}}</app-orders>
      </div>
    </div>

    <div class="board-column">
      <div class="column-title">
        <div class="column-packaged">
          Packaged
        </div>
      </div>
      <div class="task-area" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="packaged">
        <app-orders [order]="order" *ngFor="let order of packaged">{{order}}</app-orders>
      </div>
    </div>

    <div class="board-column">
      <div class="column-title">
        <div class="column-posted">
          Posted
        </div>
      </div>
      <div class="task-area" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="posted">
        <app-orders [order]="order" *ngFor="let order of posted">{{order}}</app-orders>
      </div>
    </div>

    <div class="board-column">
      <div class="column-title">
        <div class="column-delivered">
          Delivered
        </div>
      </div>
      <div class="task-area" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="delivered">
        <app-orders [order]="order" *ngFor="let order of delivered">{{order}}</app-orders>
      </div>
    </div>

    <div class="board-column">
      <div class="column-title">
        <div class="column-completed">
          Completed
        </div>
      </div>
      <div class="task-area" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="completed">
        <app-orders [order]="order" *ngFor="let order of completed">{{order}}</app-orders>
      </div>
    </div>

    <div class="board-column">
      <div class="column-title">
        <div class="column-completed">
          Completed
        </div>
      </div>
      <div class="task-area" (cdkDropListDropped)="drop($event)" *ngIf="orders2" cdkDropList
        [cdkDropListData]="orders2">
        <app-orders [order]="order" *ngFor="let order of orders2">{{order}}</app-orders>
      </div>
    </div>

  </div>
</div>
