.board-wrapper {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;

  .board-columns {
    display: flex;
    flex-grow: 1;

    .board-column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-basis: 0; // to force the columns to all be the same size, regardless of content

      min-width: 300px;
      margin: 50px;
      padding: 25px;

      border-radius: 4px;

      background: rgba(white, 0.5);

      &:not(:first-child) {
        margin-left: 0;
      }

      .column-title {
        font-size: 20px;
        font-weight: 800;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
    }
  }
}
