  <div class="board-wrapper">
    <div class="board-columns" cdkDropListGroup>
        <div class="board-column">
          <div class="column-title">
            Hello
          </div>
          <div>
            <app-orders *ngFor="let task of tasks" [task]="task" >{{task}}</app-orders>
          </div>
        </div>


        <div class="board-column">
          <div class="column-title">
            Hello 2
          </div>
          <div>
            <app-orders *ngFor="let task of tasks" [task]="task" >{{task}}</app-orders>
          </div>
        </div>
      </div>
    </div>


