.checkbox {
  margin-left: 10px;
}

.para {
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 0px;
}

.Checkboxes h2 {
  margin-bottom: 0px;
  margin-top: 10px;
}

.Checkboxes {
  margin-bottom: 10px;
}

::ng-deep .mat-dialog-content {
  overflow: visible;
}
