<h1 mat-dialog-title>Order Details</h1>
<mat-dialog-content>
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

    <p class="para">
      <mat-form-field>
        <mat-label> Name </mat-label>
        <input matInput type="text" placeholder="Name" formControlName="orderName" />
      </mat-form-field>
    </p>

    <p class="para">
      <mat-form-field>
        <mat-label> Date </mat-label>
        <input matInput type="text" placeholder="Date" formControlName="orderDate" />
      </mat-form-field>
    </p>
    <p class="para">
      <mat-form-field>
        <mat-label> Items </mat-label>
        <input matInput type="text" placeholder="Items" formControlName="orderItems" />
      </mat-form-field>
    </p>

    <p class="para">
      <mat-form-field>
        <mat-label> Design </mat-label>
        <input matInput type="text" placeholder="Design" formControlName="orderDesign" />
      </mat-form-field>
    </p>

    <p class="para">
      <mat-form-field>
        <mat-label> Colours </mat-label>
        <input matInput type="text" placeholder="Colours" formControlName="orderColours" />
      </mat-form-field>
    </p>

    <p class="para">
      <mat-form-field>
        <mat-label> Address </mat-label>
        <input matInput type="text" placeholder="Address" formControlName="orderAddress" />
      </mat-form-field>
    </p>

    <p class="para">
      <mat-form-field>
        <mat-label> Amount</mat-label>
        <input matInput type="text" class="Amount" placeholder="Amount" formControlName="orderAmount" />
      </mat-form-field>
    </p>

    <section class="Checkboxes">
      <h2>Ordered From</h2>
      <mat-radio-group formControlName="socials">
        <mat-radio-button value="FB" class="checkbox">FB</mat-radio-button>
        <mat-radio-button value="Instagram" class="checkbox">Instagram</mat-radio-button>
        <mat-radio-button value="Email" class="checkbox">Email</mat-radio-button>
      </mat-radio-group>
    </section>

    <section class="Checkboxes">
      <h2>Payment Method</h2>
      <mat-radio-group formControlName="payment">
        <mat-radio-button value="Bank_Transfer" class="checkbox">Bank Transfer
        </mat-radio-button>
        <mat-radio-button value="PayPal" class="checkbox">PayPal</mat-radio-button>
        <mat-radio-button value="Cash" class="checkbox">Cash</mat-radio-button>
      </mat-radio-group>
    </section>

    <section class="Checkboxes">
      <h2>Delivery Method</h2>
      <mat-radio-group formControlName="deliverymethod">
        <mat-radio-button value="Delivery" class="checkbox">Delivery</mat-radio-button>
        <mat-radio-button value="Collection" class="checkbox">Collection</mat-radio-button>
        <mat-radio-button value="Post" class="checkbox">Post</mat-radio-button>
      </mat-radio-group>
    </section>
    <div mat-dialog-actions>
      <button mat-button matDialogClose (click)="onCloseClick()">Close</button>
      <button mat-button (click)="onCloseSave()">Save</button>
    </div>
  </form>
</mat-dialog-content>
